version: '3.8'

services:

  db:
    image: postgres:15
    container_name: clever-assignment-db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
    ports:
      - "5432:5432"
    

  app:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    container_name: clever-assignment-app
    volumes:
      - .:/app
    ports:
      - "8000:8000"

    restart: unless-stopped
    depends_on:
      - db
    env_file:
      - .env

volumes:
  postgres_data: